In [64]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools as it

In [65]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1029,tt1277953,145000000,746921274,Madagascar 3: Europe's Most Wanted,Ben Stiller|Sacha Baron Cohen|David Schwimmer|...,Eric Darnell|Tom McGrath|Conrad Vernon,"Six years ago, they disappeared without a trac...","Alex, Marty, Gloria and Melman are still tryin...",93,Animation|Family,DreamWorks Animation,6/6/2012,6.4,2012
1723,tt0477071,20000000,84146832,Premonition,Sandra Bullock|Julian McMahon|Courtney Taylor ...,Mennan Yapo,Reality is only a nightmare away,A depressed housewife who learns her husband w...,110,Fantasy|Drama|Mystery,TriStar Pictures|Hyde Park Films|Offspring Ent...,2/8/2007,5.9,2007
1473,tt0429589,50000000,55181129,The Ant Bully,Julia Roberts|Meryl Streep|Nicolas Cage|Paul G...,John A. Davis,The battle for the lawn is on.,Fed up with being targeted by the neighborhood...,88,Fantasy|Adventure|Animation|Comedy|Family,Warner Bros. Pictures|DNA Films|Legendary Pict...,7/27/2006,5.5,2006
1479,tt0375154,31000000,28000000,Tristan & Isolde,James Franco|Sophia Myles|Rufus Sewell|David O...,Kevin Reynolds,Fighting countries can still love...,An affair between the second in line to Britai...,125,Drama,Twentieth Century Fox Film Corporation|Epsilon...,4/7/2006,6.2,2006
42,tt3072482,10000000,14333790,Hardcore Henry,Sharlto Copley|Haley Bennett|Danila Kozlovskiy...,Ilya Naishuller,First they made him dangerous. Then they made ...,"Henry, a newly resurrected cyborg who must sav...",97,Action|Adventure|Science Fiction,Bazelevs Production|Versus Pictures,9/12/2015,5.9,2015

In [66]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [67]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue']-data['budget']
#data['release_year'] = data.release_date.apply(lambda x:int(x[-4:]))
data['release_month'] = data.release_date.apply(lambda x:int(x[:x.find('/')]))


# функции:
genres_list = []
#функция используется для того, что бы добавить жанры из
#списков в ячейках датафрейма в общий список, для возможности
#дальнейчего подсчета
def genres_f(x):
    for i in x:
        genres_list.append(i)
    return x


pair_list = []
#функция из списка актеров в фильме создает пары и добавляет их 
#в общий список для дальнейшего подсчета
def pair_list_f(x):
    for i in list(it.combinations(x,2)):
        pair_list.append(i)
    return x

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [68]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа

# если ответили верно, можете добавить комментарий со значком "+"

In [69]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides' #+

data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5

# 2. Какой из фильмов самый длительный (в минутах)?

In [70]:
answers['2'] = 'Gods and Generals' #+

data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [71]:
answers['3'] = 'Winnie the Pooh' #+

data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,4

# 4. Какова средняя длительность фильмов?

In [72]:
answers['4'] = '110' #+

data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [73]:
answers['5'] = '107' #+

data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [74]:
answers['6'] = 'Avatar' #+

data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,12

# 7. Какой фильм самый убыточный?

In [75]:
answers['7'] = 'The Lone Ranger' #+

data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [76]:
answers['8'] = '1478' #+

len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [77]:
answers['9'] = 'The Dark Knight' #+

data9 = data[data.release_year == 2008]
data9[data9.revenue == data9.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [78]:
answers['10'] = 'The Lone Ranger' #+

data10 = data[(data.release_year >= 2012)&(data.release_year <= 2014)]
data10[data10.profit == data10.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?

In [79]:
answers['11'] = 'Drama' #+

genres_list = []
data11 = data.copy()
data11['genres'] = data11['genres'].apply(lambda x: x.split('|')) #изменяем значения в столбце на списки 
data11['genres'].apply(genres_f) #используем функцию genres_f для создания общего списка жанров
#Далее в заданиях применяется такая же логика для преобразования ячеек столбцов в списки
Counter(genres_list).most_common() # считаем упоминания каждого жанра в получившемся списке

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 222),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 19),
 ('Documentary', 8),
 ('Foreign', 2)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [80]:
answers['12'] = 'Drama' #+

genres_list = []
data12 = data.copy()
data12['genres'] = data12['genres'].apply(lambda x: x.split('|'))
data12 = data12[data.profit > 0]
data12['genres'].apply(genres_f)
Counter(genres_list).most_common()

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337),
 ('Romance', 242),
 ('Crime', 231),
 ('Family', 226),
 ('Science Fiction', 195),
 ('Fantasy', 188),
 ('Horror', 150),
 ('Animation', 120),
 ('Mystery', 119),
 ('Music', 47),
 ('History', 46),
 ('War', 41),
 ('Western', 12),
 ('Documentary', 7)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [81]:
answers['13'] = 'Peter Jackson' #+

data13 = data.copy()
data13['director'] = data13['director'].apply(lambda x: x.split('|'))
data13 = data13.explode('director') #для каждого элемента списка создается новая строка датафрейма,
#при этом остальные коллонки дублируют свое содержимое
#Далее в заданиях будет применяться такая же логика
data13.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [82]:
answers['14'] = 'Robert Rodriguez' #+

data14 = data.copy()
data14['director'] = data14['director'].apply(lambda x: x.split('|'))
data14 = data14.explode('director')
data14 = data14[data14.genres.str.contains('Action')]
data14['director'].value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Jay Chandrasekhar     1
Eli Roth              1
Philip G. Atwell      1
Jay Russell           1
Chuck Russell         1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [83]:
answers['15'] = 'Chris Hemsworth' #+

data15 = data.copy()
data15 = data15[data.release_year == 2012]
data15['cast'] = data15['cast'].apply(lambda x: x.split('|'))
data15 = data15.explode('cast')
data15.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [84]:
answers['16'] = 'Matt Damon' #+

data16 = data.copy()
data16 = data16[data16.budget > data16.budget.mean()]
data16['cast'] = data16['cast'].apply(lambda x: x.split('|'))
data16 = data16.explode('cast')
data16['cast'].value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Samuel L. Jackson    15
                     ..
Rhys Ifans            1
Scott Adsit           1
Rachel Hurd-Wood      1
Adam Alexi-Malle      1
Paul Sanchez          1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [85]:
answers['17'] = 'Action' #+

data17 = data.copy()
data17['cast'] = data17['cast'].apply(lambda x: x.split('|'))
data17 = data17.explode('cast')
data17 = data17[data17.cast == 'Nicolas Cage']
data17['genres'] = data17['genres'].apply(lambda x: x.split('|'))
data17 = data17.explode('genres')
data17['genres'].value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [86]:
answers['18'] = 'K-19: The Widowmaker' #+

data18 = data.copy()
data18['production_companies'] = data18['production_companies'].apply(lambda x: x.split('|'))
data18 = data18.explode('production_companies')
data18 = data18[data18.production_companies == 'Paramount Pictures']
display(data18[data18.profit == data18.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034,7

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [87]:
answers['19'] = '2015' #+

data19 = data.copy()
data19.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [88]:
answers['20'] = '2014' #+

data20 = data.copy()
data20['production_companies'] = data20['production_companies'].apply(lambda x: x.split('|'))
data20 = data20.explode('production_companies')
data20 = data20[data20.production_companies.str.contains("Warner Bros")]
data20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [89]:
answers['21'] = 'Сентябрь' #+

data['release_month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [90]:
answers['22'] = '450' #+

data22 = data.copy()
data22 = data22[(data22.release_month >= 6)&(data22.release_month <= 8)]
len(data22)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [91]:
answers['23'] = 'Peter Jackson' #+

data23 = data.copy()
data23 = data23[(data23.release_month == 1)|(data23.release_month == 2)|(data23.release_month == 12)]
data23['director'] = data23['director'].apply(lambda x: x.split('|'))
data23 = data23.explode('director')
data23['director'].value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Adam Shankman        4
Nancy Meyers         4
                    ..
Brad Bird            1
Anne Fletcher        1
Anthony Minghella    1
James Duffy          1
Miguel Arteta        1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [92]:
answers['24'] = 'Four By Two Productions' #+

data24 = data.copy()
data24['production_companies'] = data24['production_companies'].apply(lambda x: x.split('|'))
data24 = data24.explode('production_companies')
data24['title_length'] = data24['original_title'].apply(lambda x: len(x))
data24.groupby(['production_companies'])['title_length'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_length, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [93]:
answers['25'] = 'Midnight Picture Show' #+

data25 = data.copy()
data25['production_companies'] = data25['production_companies'].apply(lambda x: x.split('|'))
data25 = data25.explode('production_companies')
# в столбец overview_lenght добавляется количество слов описания фильма
data25['overview_length'] = data25['overview'].apply(lambda x: len(x.split(' '))) 
data25.groupby(['production_companies'])['overview_length'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_length, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [94]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' #+

data26 = data.copy()
np.quantile(data26['vote_average'],0.99) #находим значения рейтинга, которые входят в 1% лучших: > 7.8
data26 = data26[data26.vote_average > 7.8]
data26.groupby(['original_title'])['vote_average'].max().sort_values(ascending=False)

original_title
The Dark Knight                                  8.1
The Imitation Game                               8.0
Room                                             8.0
Interstellar                                     8.0
Inside Out                                       8.0
The Wolf of Wall Street                          7.9
The Pianist                                      7.9
The Lord of the Rings: The Return of the King    7.9
The Grand Budapest Hotel                         7.9
Memento                                          7.9
Inception                                        7.9
Guardians of the Galaxy                          7.9
Gone Girl                                        7.9
12 Years a Slave                                 7.9
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [95]:
answers['27'] = 'Daniel Radcliffe, Emma Watson' #+

pair_list = []
data27 = data.copy()
data27['cast'] = data27['cast'].apply(lambda x: x.split('|'))
data27['cast'] = data27['cast'].apply(pair_list_f) #используем функцию pair)list_f для создания списка со всеми парами актеров
pd.Series(pair_list).value_counts()

(Daniel Radcliffe, Emma Watson)          8
(Daniel Radcliffe, Rupert Grint)         8
(Rupert Grint, Emma Watson)              7
(Johnny Depp, Helena Bonham Carter)      6
(Ben Stiller, Owen Wilson)               6
                                        ..
(Jake Cherry, Carla Gugino)              1
(Anne Hathaway, Sacha Baron Cohen)       1
(Jake Abel, Sean Bean)                   1
(Ludivine Sagnier, Jean-Marie Lamour)    1
(Jared Padalecki, Travis Van Winkle)     1
Length: 18121, dtype: int64

# Submission

In [96]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Emma Watson'}

In [97]:
# и убедиться что ни чего не пропустил)
len(answers)

27